In [4]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
df=pd.read_csv('/Users/limoges/Documents/Datascience/Bank_project/german_credit_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1000 non-null   int64
 1   Age               1000 non-null   int64
 2   Sex               1000 non-null   object
 3   Job               1000 non-null   int64
 4   Housing           1000 non-null   object
 5   Saving accounts   817 non-null    object
 6   Checking account  606 non-null    object
 7   Credit amount     1000 non-null   int64
 8   Duration          1000 non-null   int64
 9   Purpose           1000 non-null   object
dtypes: int64(5), object(5)
memory usage: 78.2+ KB

In [19]:
from IPython.display import HTML

html_code = """
<style>
.titre {
    font-size: 3rem;
    font-family:'Georgia';
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    letter-spacing: 0.1rem;
    background-image: linear-gradient(to right, #f6e8fb, #cf94ed, #cf94ed);
    border-radius: 10px;
    padding: 10px;
    transition: all 0.5s ease;
}

.titre:hover {
    letter-spacing: 0.2rem;
    text-shadow: 2px 2px 4px #000000;

}
</style>
<h1 class="titre">DATA EXPLORATION </h1>
"""

display(HTML(html_code))

In [25]:
df = pd.read_csv('/Users/limoges/Documents/Datascience/Bank_project/german_credit_data.csv')
df['Age']=df['Age'].astype(int)
age_sex_group = df.groupby(['Age', 'Sex'])['Saving accounts'].value_counts().unstack(fill_value=0).reset_index()
age_sex_group

Saving accounts  Age     Sex  little  moderate  quite rich  rich
0                 19  female       1         0           0     1
1                 20  female       4         0           1     2
2                 20    male       3         1           0     0
3                 21  female       2         2           0     0
4                 21    male       7         1           0     0
..               ...     ...     ...       ...         ...   ...
94                68    male       2         0           0     0
95                70    male       1         0           0     0
96                74  female       1         0           0     0
97                74    male       3         0           0     0
98                75    male       1         0           0     0

[99 rows x 6 columns]